# Flutter-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android-specific
android/**.iml
android/.gradle/
android/local.properties
android/key.properties
android/app/src/main/res/raw/google_services.json

# iOS-specific
ios/**.iml
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GoogleService-Info.plist

# Symbols and logs
core
core.*
*.log
*.metadata

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Environment files
.env
.env.*
!.env.example
